<phpunit 
    bootstrap="vendor/autoload.php"
    convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
    colors="true"        
    verbose="true">

    <testsuites>
        <testsuite name="init">
            <directory suffix='.php'>tests/unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
